.textBuuton{
	width: 120upx;
	height: 60upx;
	display: block;
	background-color: #00A0EA;
	line-height: 60upx;
	text-align: center;
	color: #fff;
	font-size: 24upx;
}
.iconG{color: #656565;}
.iconBLue{color: #00a0ea}
.backBlue{background-color: #00a0ea}
.iconRed{color: #e83828}
.iconGreen{color: #00a65a}
.iconYellow{color: #fea852}
.iconPop{color: #6881ff}
.iconLightblue{color: #20bbc5} 
.iconGray{color: #9fadc7} 
.iconY{color: #1FBAC4} 
.iconD{color: #E6AF45} 

.content {
			text-align: center;
			height: 400upx;
		}
	
		/* tabs样式 */
		.sjf_content {
			width: 100%;
			height: auto;
			background-color: #fff;
		}
	
		.content_jsq {
			width: 96%;
			margin-left: 2%;
			margin-top: 20upx;
		}
	
		.sjf_content form {
			text-align: left;
		}
	
		.cu-form-group {
			position: relative;
		}
	
		.cu-form-group .title {
			min-width: calc(4em + 15px);
		}
		
		.cu-form-group .calculatorReport{
			width: 340upx;
			height: 70upx;
			font-size: 30upx;
			margin: 10upx 0;
			margin-right: 140upx ;
		}
		
		.money {
			position: absolute;
			right: -80upx;
		}
	
		.text-orange,
		.line-orange,
		.lines-orange {
			color: #0062CC;
		}
	
		/* logo样式 */
		.logo {
			height: 200upx;
			width: 200upx;
			margin-top: 200upx;
		}
	
		.title {
			font-size: 36upx;
			color: #8f8f94;
		}
	
		.con-text {
			width: 90%;
			height: 80upx;
			font-size: 26upx !important;
			border: 1px solid deepskyblue;
			border-radius: 10upx;
			border-bottom: none;
			float: left;
			margin: 10upx 0 0 10upx;
		}
	
		.con-text1 {
			width: 48%;
			height: 80upx;
			font-size: 21upx !important;
			border: 1px solid deepskyblue;
			line-height: 80upx;
			border-radius: 10upx;
			border-bottom: none;
			float: left;
			margin: 10upx 0 0 10upx;
		}
	
		.con-text2 {
			height: 80upx;
			line-height: 80upx;
			border-radius: 10upx;
			float: left;
			margin: 10upx 0 0 10upx;
		}
	
		.con-text3 {
			height: auto;
			line-height: 60upx;
			border-radius: 10upx;
			float: left;
			margin: 10upx 0 0 10upx;
		}
	
		.active {
			background: #0081FF;
			color: #fff;
			border: none;
		}
	
		/* 复杂调整 */
		.cu-form-group picker .picker {
			text-align: left;
		}
	
		.sjffztz {
			width: 100%;
			text-align: left;
			float: left;
			border: 1px solid deepskyblue;
		}
	
		.sjffztz p {
			width: 100%;
			height: auto;
			line-height: 40upx;
			text-align: left;
			font-size: 26upx;
			border: 1upx solid deepskyblue;
			padding-left: 20upx;
		}
	
		.sjffztz p view {
			font-size: 30upx;
			font-weight: bold;
			padding-left: 8upx;
			padding-top: 5upx;
		}
	
		.dianjijisuan {
			width: 100%;
			height: 120upx;
		}
	
		.dianjijisuan button {
			height: 80upx;
		}
	
		.dianjijisuan text {
			font-size: 26upx;
			margin-left: 20upx;
		}
	
		/* sjf计算结果 */
		.sjfjsjg {
			width: 100%;
			margin-top: 20upx;
			height: auto;
		}
	
		.sjfjsjg .sjftable {
			width: 100%;
			height: 60upx;
		}
	
		.sjfjsjg .sjftable img {
			width: 35upx;
			height: 45upx;
			float: left;
			margin-left: 20upx;
		}
	
		.sjfjsjg .sjftable text {
			float: left;
			margin-top: 5upx;
			margin-left: 15upx;
		}
	
		.sjfInput {
			text-align: left;
			padding-right: 80%;
		}
	
		.cu-form-group picker::after {
			content: none;
		}
		
		textarea{
			white-space: pre-line;
		}
		
		.content1{
			width: 83%;
			/* height: 70upx; */
			line-height: 70upx;
			white-space: pre-line;
		}
		.wupx{
			width: 690upx;
		}
		
		.dlfxs{
			width: 565upx;
		}
		
		.bradius{
			border-radius: 20upx;
		}
		
		.dlf-group {
			width: 100%;
			font-size: 30upx;
			text-align: left;
			border-left: 1upx solid #00a0e0;
			border-right: 1upx solid #00a0e0;
			border-top: 1upx solid #00a0e0;
			margin-bottom: 28upx;
		}
		.dlf-group .dlf-li {
			line-height: 60upx;
			padding: 13upx; 
			white-space: pre-line;
			border-bottom: 1upx solid #00a0ea;
		}
		.spbtn{
			display: inline-block;
			border-radius: 10rpx;
			font-size: 24rpx;
			line-height: 40rpx;
		}